<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546563235811-oju3651ghs6an6lc2b8m377arvp4mtti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546563235811-oju3651ghs6an6lc2b8m377arvp4mtti</string>
	<key>API_KEY</key>
	<string>AIzaSyAWaEJ8hVUnS60NG5S1yrrwiHaGM1TAkwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>546563235811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectManagement</string>
	<key>PROJECT_ID</key>
	<string>herafy-2</string>
	<key>STORAGE_BUCKET</key>
	<string>herafy-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546563235811:ios:3c7398e701a0f98f9ecad6</string>
</dict>
</plist>